
server:
  port: ${PORT}
  servlet:
    context-path: ${API_PREFIX}

spring:
  application:
    name: LMS Streaming Platform
  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    database: postgresql
    show-sql: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
  data:
    redis:
      port: ${REDIS_PORT}
      host: ${REDIS_HOST}
      password: ${REDIS_PASSWORD}
      timeout: 6000
  rabbitmq:
    host: ${RABBITMQ_HOST}
    port: ${RABBITMQ_PORT}
    username: ${RABBITMQ_USERNAME}
    password: ${RABBITMQ_PASSWORD}
    listener:
      simple:
        retry:
          max-attempts: 3 # gửi tối đa 3 lần
          initial-interval: 2000 # mỗi lần cách 2s
          enabled: true
          multiplier: 1
  elasticsearch:
    uris: ${ELASTICSEARCH_URIS}
    username: ${ELASTIC_USERNAME}
    password: ${ELASTIC_PASSWORD}
  mail:
    host: ${MAIL_HOST}
    port: ${MAIL_PORT}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  output:
    ansi:
      enabled: ALWAYS

app:
  security:
    jwt:
      secretKey: ${JWT_SECRET_KEY}
      accessExpiration: ${JWT_ACCESS_EXPIRATION}
      refreshExpiration: ${JWT_REFRESH_EXPIRATION}
  cloudinary:
    cloud-name: ${CLOUDINARY_CLOUD_NAME}
    api-key: ${CLOUDINARY_API_KEY}
    api-secret: ${CLOUDINARY_API_SECRET}


logging:
  file:
    name: logs/app.log

  logback:
    rollingpolicy:
      file-name-pattern: ${logging.file.name}.%d{yyyy-MM-dd}.%i.log
      max-file-size: 10MB
      max-history: 30
      total-size-cap: 1GB

  pattern:
    # Giữ nguyên cấu hình console đẹp của bạn
    console: "%clr(%d{HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"
    # File log chỉ lưu nội dung message (%m) để dòng log REQ/RESP sạch nhất có thể
    file: "%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level : %m%n"

  level:
    # 1. Chỉnh root về WARN để tắt toàn bộ log INFO của Spring, Hibernate, v.v.
    root: WARN

    # 2. Chỉ bật INFO cho đúng package chứa LoggingFilter của bạn
    # Hãy đảm bảo đường dẫn này khớp hoàn toàn với package com.hust.lms.streaming.middleware
    com.hust.lms.streaming.middleware: INFO

    # Tắt các log thừa có thể lọt vào
    org.springframework: WARN
    org.hibernate: WARN
    org.apache.catalina: WARN
