# --- APP CONFIG ---
PORT=4000
API_PREFIX=/api/

# --- ADMIN SYSTEM ---
ADMIN_USERNAME=
ADMIN_PASSWORD=
ADMIN_NAME=
ADMIN_PHONE=

# --- JWT / AUTHENTICATION ---
JWT_SECRET_KEY=
JWT_ACCESS_EXPIRATION=3600000
JWT_REFRESH_EXPIRATION=604800000

# --- DATABASE (POSTGRESQL) ---
DATABASE_URL=
DATABASE_USERNAME=
DATABASE_PASSWORD=

# --- REDIS (CACHE & QUEUE) ---
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# --- ELASTICSEARCH ---
ELASTICSEARCH_URIS=
ELASTIC_USERNAME=
ELASTIC_PASSWORD=

# --- CLOUDINARY ---
CLOUDINARY_CLOUD_NAME=ten_cloud_cua_ban
CLOUDINARY_API_KEY=1234567890
CLOUDINARY_API_SECRET=chuoi_bi_mat_lay_tren_web

; # --- MINIO (QUAN TRỌNG: Lưu Video HLS) ---
; # Đồ án Streaming nên dùng cái này thay vì Cloudinary cho video
; MINIO_ENDPOINT=http://localhost:9000
; MINIO_ACCESS_KEY=minioadmin
; MINIO_SECRET_KEY=minioadmin
; MINIO_BUCKET_NAME=video-storage

# --- MAIL (GMAIL SMTP) ---
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=email_cua_linh@gmail.com
MAIL_PASSWORD=xxxx xxxx xxxx xxxx

chạy lệnh docker
docker run -d --name redis-streaming -p 6379:6379 redis:7-alpine redis-server --requirepass "bestzed"
docker run -d --name elasticsearch-streaming -p 9200:9200 -p 9300:9300 -e "discovery.type=single-node" -e "ES_JAVA_OPTS=-Xms512m -Xmx512m" -e "xpack.security.enabled=true" -e "xpack.security.http.ssl.enabled=false" -e "ELASTIC_PASSWORD=bestzed" docker.elastic.co/elasticsearch/elasticsearch:8.11.1
docker run -d --name rabbitmq-streaming -p 5672:5672 -p 15672:15672 -e RABBITMQ_DEFAULT_USER=guest -e RABBITMQ_DEFAULT_PASS=guest rabbitmq:3-management
docker run -d --name minio-streaming -p 9000:9000 -p 9001:9001 -e MINIO_ROOT_USER=admin -e MINIO_ROOT_PASSWORD=password123 -v minio-data:/data  minio/minio server /data --console-address ":9001"
docker run -d --name postgres-streaming -p 5432:5432 -e POSTGRES_DB=lms_streaming -e POSTGRES_USER=admin -e POSTGRES_PASSWORD=password123 -v postgres-data:/var/lib/postgresql/data  postgres:15